body{
    direction: rtl !important;
}
button.add{
    position:absolute;
    top: 45px;
    left: 30px;
}
.nav-link{
    padding-inline-start: 10px !important;
}
.setting{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

